/* 等待動畫 */
*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

.Loading_box {
  /* 外框 */
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 224, 224);
  border-radius: 100%;
  overflow: hidden;
}
.Loading_box .percent {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 130, 13);
  font-size: 64px;
}
.water {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  background: #9e0202;
  transition: all 0.3s;
}
.water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
}
.water_wave_back {
  right: 0;
  fill: #bb2727;
  animation: wave-back 1.4s infinite linear;
}
.water_wave_front {
  left: 0;
  fill: #9e0202;
  margin-bottom: -1px;
  animation: wave-front 0.7s infinite linear;
}

@keyframes wave-front {

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes wave-back {

  100% {
    transform: translate(50%, 0);
  }
}
