.emojione {
  font-size: inherit;
  height: 3ex;
  width: 3.1ex;
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  margin: -0.2ex 0.15em 0.2ex;
  line-height: normal;
  vertical-align: middle;
}
#member-font{
  font-family:arial !important;
}
.home-fonttext{
  
}
img.emojione {
  width: auto;
}

#left-tabs-example-tabpane-5 {
  margin-bottom: 3rem;
}
.member-warn {
  margin-left: 1rem;
  width: 30%;
  height: 50vh;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 8px;
  background-color: #e6a33c;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

/* for tab */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #2d333c;
  /* color: white; */
}

.nav-pills a {
  color: #000;
}

/* 千慧版 */

.member-wrap {
  width: 24%;
  height: 70vh;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-radius: 5px;
  overflow: hidden;
  // background: linear-gradient(0deg,rgba(255, 255, 255, 0.247), rgba(150, 150, 150, 0.575));
  background: transparent;
  margin: auto;
  /* background-image: url(https://images.unsplash.com/photo-1543535170-75ef1a497627?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80); */
  background-size: cover;
  background-position: center center;
  opacity: 0.9;
  // box-shadow: 2px 8px 5px gray;
  margin-top: 5%;
  animation-duration: 2s;
  -webkit-transform: translateY(-50%);
  z-index: 2;
  &::before {
    content: "";
    -webkit-filter:blur(5px);
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    z-index: -1;
  }
}

.member-wrap > input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 40px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  width: 75%;
  font-size: 1rem;
  margin: auto;
  margin-top: 1rem;
  border-radius: 5px;
  color: var(--main-white);
  text-transform: lowercase;
  background: transparent;
}

.member-card_title {
  display: block;
  margin-top: 20%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: var(--main-white);
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.member-wrap .loagin_btn {
  transition: 0.5s;
  background-color: var(--main-orange);
  color: rgba(256, 256, 256, 0.7);
  border: 0;
  border-radius: 8px;
  display: block;
  margin: 50px auto 0px auto;
  padding: 16px 45px;
  width: 75%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  &:hover {
    transition: 0.5;
    background: #ffffff !important;
    color: var(--main-orange) !important;
  }
}

.member-wrap button:hover {
  color: rgba(0, 0, 0, 0.8);
}

.member-d-flex {
  display: flex;
  flex-direction: column;
}

#member-warn_text {
  display: none;
  color: #aa1f23;
  margin-left: 35%;
  margin-top: 5px;
  font-weight: bold;
}

.member-shakein {
  animation-name: shakein;
  animation-duration: 0.6s;
}

@keyframes member-shakein {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

.social-login {
  width: 70px;
  height: 70px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 5px;
  transition: 0.5s;
  &:hover .social-loginbtn {
    background: rgb(255, 255, 255);
    .social-login_imgarea {
      a {
        color: var(--main-orange);
        font-weight: bold;
      }
    }
  }
  .social-loginbtn {
    width: 70px;
    padding: 0 !important;
    margin: 0 !important;
    border: none;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    transition: 0.5s;
    .social-login_imgarea {
      overflow: hidden;
      width: 70px;
      a {
        font-size: 30px;
        color: var(--main-white);

      }
    }
  }
}
.register_login {
  position: absolute;
  left: 10%;
  bottom: 5%;
  display: flex;
  color: var(--main-white);
  .signup-link {
    a {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  .load_login {
    color: var(--main-orange);
    transition: 0.5s;
    // &:hover {
    //   transition: 0.5s;
    //   // color: var(--main-white);
    //   color: rgb(0, 0, 0);
    // }
  }
}
.membertab {
  margin-bottom: 22rem;
}
@media (max-width: 1300px) {
  .member-wrap {
    width: 40%;
    height: 70vh;
  }
}
@media (max-width: 785px) {
  #left-tabs-example-tabpane-4 {
    .row {
      > .card {
        margin-bottom: 2rem;
      }
    }
  }
}
@media (max-width: 800px) {
  .member-wrap {
    width: 80%;
    height: 70vh;
  }
  // .membertab{
  //     margin-bottom: 0;
  // }
}
@media (max-width: 576px) {
  #left-tabs-example-tabpane-4 {
    .row {
      justify-content: center;
    }
  }
}
@media (max-width: 560px) {
  .membertab {
    margin-bottom: 0;
  }
}
