* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.About_background {
  display: flex;
  justify-content: center;
  align-items: center;
  .About {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    .About_card {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 100px 0;
      .imgBx {
        position: relative;
        left: 25px;
        width: 500px;
        height: 400px;
        z-index: 1;
        &:hover .face.face1 span {
          transform: rotateX(90deg) translateY(-50%);
        }
        &:hover .face.face2 span {
          transform: rotateX(0) translateY(0%);
        }
        .face {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          display: flex;
          span {
            width: 125px;
            height: 100%;
            transition: 1s;
            margin: 0;
          }
        }
        .face.face1 span {
          background: url(../../images/StockSnap_MUUFPYI14D.jpg);
          background-position: center center;
          transform-origin: top;
        }
        .face.face2 span {
          // background: url(../../images/StockSnap_MUUFPYI14D.jpg);
          background: url(../../images/wine-791133_1920.jpg);
          transform-origin: bottom;
          transform: rotateX(90deg) translateY(50%);
        }
        .face span:nth-child(1) {
          background-position-x: 0;
          transition-delay: 0s;
        }
        .face span:nth-child(2) {
          background-position-x: -125px;
          transition-delay: 0.2s;
        }
        .face span:nth-child(3) {
          background-position-x: -250px;
          transition-delay: 0.4s;
        }
        .face span:nth-child(4) {
          background-position-x: -375px;
          transition-delay: 0.6s;
        }
      }
      .contentBx {
        position: relative;
        right: 25px;
        width: 500px;
        height: 400px;
        background: var(--main-black);
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 20px 60px 20px 100px;
        flex-direction: column;
        &::before {
          content: "";
          position: absolute;
          top: -50px;
          bottom: -50px;
          left: 0;
          right: 0;
          background: var(--main-black);
          z-index: -1;
        }
        .content {
          h2 {
            font-size: 30px;
            color: var(--main-white);
          }
          p {
            color: var(--main-white);
            margin: 10px;
          }
          a {
            margin-top: 15px;
            color: var(--main-white);
            display: inline-block;
            text-decoration: none;
            padding: 10px;
            border: 1px solid var(--main-white);
            &:hover {
              background: var(--main-orange);
              border: 1px solid var(--main-orange);
              color: var(--main-black);
            }
          }
        }
        .content_img {
          max-width: 130px;
          height: 130px;
          overflow: hidden;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .About_card:nth-child(odd) {
      flex-direction: row;
    }
    .About_card:nth-child(even) {
      flex-direction: row-reverse;
      text-align: right;
      .imgBx {
        left: -25px;
      }
      .contentBx {
        right: -25px;
        padding: 20px 100px 20px 60px;
      }
    }
  }
}

@media (max-width: 1020px) {
  .About_background {
    .About {
      .About_card {
        flex-direction: column;
        max-width: 350px;
        margin: 25px 25px;
        .imgBx {
          width: 100%;
          height: 250px;
          left: 0;
        }
        .contentBx {
          max-width: 100%;
          height: 530px;
          right: 0;
          padding: 30px;
          text-align: center;
          &::before {
            top: 0;
            bottom: 0;
          }
        }
      }
      .About_card:nth-child(odd) {
        flex-direction: column;
      }
      .About_card:nth-child(even) {
        flex-direction: column;
        .imgBx {
          left: 0;
        }
        .contentBx {
          right: 0;
          padding: 30px;
        }
      }
    }
  }
}

.Carousel_bg{
  width: 100%;height: 100vh;
  background-image: url(../../images/glasses-3823754_1920.jpg);
  background-position: center;
}