* {
  font-family: 微軟正黑體;
  /* outline: 1px solid sienna; */
  margin: 0;
  padding: 0;
  // outline: 1px solid #ccc;
  box-sizing: box;
  outline: none;
}
/* 變數設定 */
:root {
  --color1: #3b2c25;
  --color2: #61544a;
  --color3: #2d333c;
  --color4: #e6a33c;
  --color5: #30120b;
  --text-color: #646464;
  --text-price: #752c1c;
  --main-orange: #e6a33c;
  --main-white: #ffffff;
  --cate-font: "Trajan";
  --main-black: #000000;
  --main-blackRgba: #000000c0;
  --em: 16;
  --color7: rgb(255, 255, 255);
}
// 隱藏上下箭頭
input[type="text"] {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="radio"],
input[type="checkbox"] {
  float: left;
  height: auto;
  width: auto;
  margin: 5px 10px 0 0;
}
.form-control {
  display: block;
  width: 100%;
  box-shadow: none;
  height: 52px;
  padding: 13px 30px;
  font-size: 12px;
  box-shadow: none;
  height: 52px;
  padding: 13px 30px;
  line-height: normal;
  font-family: "Lato";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background: transparent;
  border: 1px solid #e9e9e9;
}

li {
  list-style: none;
}
// 最外層
.content_Billing_details {
  //左邊結算明細表
  .woocommerce-checkout {
    border: 1px solid #e5e5e5;
    #customer_details {
      border-right: 1px solid #e5e5e5;
      padding: 60px 45px 60px 30px;
      .woocommerce-billing-fields {
        h3 {
          margin: 0 0 50px 0;
          padding: 0;
          position: relative;
          display: inline-block;
          > .vertical-align-inherit {
            white-space: nowrap;
          }
        }
        > p {
          margin: 0 0 15px;
          > label {
            font-weight: bold;
            color: #000;
            font-size: 12px;
            letter-spacing: 2px;
            text-transform: uppercase;
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            white-space: nowrap;
          }
        }

        //名
        p:nth-child(2) {
        }
        //姓
        p:nth-child(3) {
        }
        //Email
        p:nth-child(4) {
        }
        //聯絡電話
        p:nth-child(5) {
        }
        //縣市
        p:nth-child(6) {
          .country_to_state {
            width: 100%;
            margin: 0;
            position: relative;
            display: block !important;
            zoom: 1;
            vertical-align: middle;
          }
        }
        //地址1
        p:nth-child(7) {
        }
        //地址2
        p:nth-child(8) {
        }
        //創建新的客戶帳戶
        p:nth-child(9) {
        }
      }
      .col_2 {
        .woocommerce-shipping-fields {
          h3 {
            margin: 50px 0 50px 0;
            padding: 0;
            position: relative;
            display: inline-block;
            vertical-align: inherit;
          }
          #order_comments_field {
            margin: 0 0 15px 0;
            .order_comments_label {
              font-weight: bold;
              font-size: 12px;
              letter-spacing: 2px;
              text-transform: uppercase;
              display: inline-block;
              max-width: 100%;
              margin-bottom: 5px;
              font-weight: bold;
              height: 30px;
              .order_comments_text {
                vertical-align: inherit;
                font-weight: bold;
                color: #000;
                font-size: 12px;
                letter-spacing: 2px;
                text-transform: uppercase;
              }
            }

            #order_comments {
              margin: 0 -39px 0 0;
              max-width: 386px;
              max-height: 354px;
              padding: 30px;
            }
          }
        }
      }
    }
  }
  // 右邊Total
  .woocommerce-checkout-review-order {
    padding: 60px 30px 60px 45px;
    margin-left: -1px;
    #order_review_heading {
      margin: 0 0 50px 0;
      padding: 0;
      position: relative;
      display: inline-block;
    }
    .woocommerce-checkout-review-order-table {
      margin-bottom: 50px;
      width: 100%;
    }
    thead {
      tr > th {
        vertical-align: top;
        padding: 0 0 15px 0;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    tbody {
      tr > td {
        padding: 5px 10px 5px 0;
        vertical-align: top;
        text-transform: none;
      }
      .cart_item > td {
        padding-bottom: 30px;
      }
    }
    tfoot {
      display: block;
      padding-top: 30px;
    }
    tr > th,
    td {
      padding: 5px 10px 5px 0;
      vertical-align: top;
      text-transform: none;
    }

    .place-order {
      border-top: 1px solid #e5e5e5;
      .button_alt {
        margin-top: 30px;
        border: 0;
        -webkit-appearance: button;
        cursor: pointer;
        border: 0;
        margin: 30px 0 0 0;
        display: block;
        color: var(--main-white);
        background-color: var(--main-black);
        border-color: var(--main-black);
        padding: 18px 45px;
        border-radius: 0;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: "Lato";
        font-weight: bold;
        line-height: normal;
        font-style: normal;
        -webkit-transition: all ease-in-out 0.2s;
        -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
        -o-transition: all ease-in-out 0.2s;
        transition: all ease-in-out 0.2s;
        &:hover {
          transition: 0.5;
          background-color: var(--main-orange);
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .woocommerce-checkout {
    border: none;
  }
  .content_Billing_details .woocommerce-checkout #customer_details {
    border-right: none;
  }
}
@media only screen and (min-width: 991px) {
  .woocommerce-checkout {
    display: flex;
  }
}
#billing_email{
  text-transform: lowercase !important;
  font-family: arial !important;
}
.Text_billing_email{
  text-transform: lowercase !important;
  font-family: arial !important;
}