* {
  font-family: 微軟正黑體;
  /* outline: 1px solid sienna; */
  margin: 0;
  padding: 0;
  // outline: 1px solid #ccc;
}
/* 變數設定 */
:root {
  --color1: #3b2c25;
  --color2: #61544a;
  --color3: #2d333c;
  --color4: #e6a33c;
  --color5: #30120b;
  --text-color: #646464;
  --text-price: #752c1c;
  --main-orange: #e6a33c;
  --main-white: #ffffff;
  --cate-font: "Trajan";
  --main-black: #000000;
  --main-blackRgba: #000000c0;
  --em: 16;
  --color7: rgb(255, 255, 255);
}

.Home_About_us_bg {
  background-image: url(../../images/Rectangle-2-copy.jpg);
  width: 100%;
  height: 90vh;
  background-size: cover;
  .Home_About_area {
    .Home_About_us_img_piece {
      margin-top: 3rem;
    }
  }
  .Home_About_us_frame {
    padding-top: 10px;
    width: 420px;
    height: 350px;
    background: var(--main-white);
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 40px;
    transition: 0.5s;
    .Home_About_us_img {
      transition: 0.5s;
      width: 400px;
      height: 330px;
      overflow: hidden;
      &:hover img {
        transition: 0.5s;
        transform: scale(1.2, 1.2);
      }
      img {
        width: 100%;
        height: 100%;
        transition: 0.5s;
        transform: scale(1, 1);
      }
    }
  }
}
.Home_About_us_img_1 {
  transform: rotate(10deg);
  z-index: 2;
  opacity: 1;
  transition: 0.5s;
}
.Home_About_us_img_2 {
  opacity: 1;
  transition: 0.5s;
  z-index: 1;
  left: -50px;
  transform: rotate(-5deg);
  &:hover .Home_About_us_img_1 {
    transition: 0.5s;
    opacity: 0;
  }
}
.Home_About_us_textarea {
  margin-top: 3rem;
  justify-content: flex-end;
  .Home_About_us_text {
    width: 500px;
    p:nth-child(1) {
      margin: 0;
      font-size: 40px;
    }
    p:nth-child(2) {
      margin: 0;
      font-size: 60px;
      white-space: nowrap;
      letter-spacing: 3px;
    }
    .Home_About_us_btn {
      display: block;
      text-decoration: none;
      border: 1px solid var(--main-black);
      border-radius: 10px;
      height: 60px;
      width: 280px;
      text-align: center;
      transition: 0.5s;
      &:hover {
        background: var(--main-blackRgba);
        transition: 0.5s;
        top: 0;
        p {
          transition: 0.5s;
          color: var(--main-white);
        }
      }
      p {
        font-size: 30px;
        margin: 6.5px auto;
        letter-spacing: 2px;
        white-space: nowrap;
        color: var(--main-black);
      }
    }
  }
}

// ------------------------
@media only screen and (max-width: 1199px) {
  .Home_About_area {
    flex-direction: column;
    .Home_About_us_img_piece {
      margin-top: 0;
      .Home_About_us_frame {
        width: 300px;
        height: 230px;
        left: 60px;
        .Home_About_us_img {
          display: flex;
          justify-content: center;
          transition: 0.5s;
          width: 280px;
          height: 210px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .Home_About_us_bg {
    height: 120vh;
    .Home_About_us_textarea {
      margin-top: 0;
      position: relative;
      .Home_About_us_text {
        position: absolute;
        top: 350px;
        left: 50px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 578px) {
  .Home_About_us_textarea {
    .Home_About_us_text {
      width: 350px;
      p:nth-child(3) {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
      p:nth-child(4) {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
    }
  }
}
