/* 變數設定 */
:root {
  --color1: #3b2c25;
  --color2: #61544a;
  --color3: #2d333c;
  --color4: #e6a33c;
  --color5: #30120b;
  --text-color: #646464;
  --text-price: #752c1c;
  --main-orange: #e6a33c;
  --main-white: #ffffff;
  --cate-font: "Trajan";
  --main-black: #000000;
  --main-blackRgba: #000000c0;
  --em: 16;
  --color7: rgb(255, 255, 255);
}

/***********    CardRow      *************************************************/
.events_Card_border .card-text p{
  // overflow: hidden;
  white-space: nowrap;
  // text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.events_Card_border {
  line-height: 1.4rem !important;
  margin-top: 30px;
  // padding: -100px;
  max-width: 650px;
  // width: 250px;
  // height: 450px;
  height: auto;
  padding: 0px;

  &:hover {
    box-shadow: 0 0 10px #000;
    transform: translate(0, -5px);
    transition: 0.5s;
  }
  img {
    object-fit: fill;
  }
  button {
    margin: 0 0 0 0;
    background-color: #262626;
    &:hover {
      background-color: #e6a33c;
      border-color: #e6a33c;
    }
  }
  .card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* line-clamp顯示行數 */
    -webkit-line-clamp: 3;
    p {
      font-size: 10px;
      color: #bdbdbd;
      margin: 0px;
    }
  }

  .card-title {
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* line-clamp顯示行數 */
    -webkit-line-clamp: 2;
    // text:bold;
    // &:hover{
    //   text-decoration:none;
    // }
  }

  .card-body {
    height: 200px;
  }
}

@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 576px) {
}

@media (min-width: 991.1px) and (max-width: 1199px) {
  .card-deck {
    margin-left: 0px;
  }
}
