/* 變數設定 */
:root {
  --color1: #3b2c25;
  --color2: #61544a;
  --color3: #2d333c;
  --color4: #e6a33c;
  --color5: #30120b;
  --text-color: #646464;
  --text-price: #752c1c;
  --main-orange: #e6a33c;
  --main-white: #ffffff;
  --cate-font: "Trajan";
  --main-black: #000000;
  --main-blackRgba: #000000c0;
  --em: 16;
  --color7: rgb(255, 255, 255);
}

.Latest_events_detail_pic_border {
  background-color: #f5f5f5;
  padding: 0;
  // border: 2px solid red;
  margin: auto;
  margin-top: 20px;
  max-width: 1080px;
  // outline: 10px red solid;
  height: auto;
  overflow: hidden;
  img {
    // container外的圖
    // width: 100vw;
    // height: 100%;
    // object-fit: cover;
    // &:hover{
    //   transform: scale(1.1);
    // }
    max-width: 100%;
    height: auto;
    *width: 100%; // 支援 IE 6和7
  }
}
// // 細節頁container sweetalert 2
// #swal2-title.swal2-title{
//   color: rgb(255, 255, 255);
// }
// .swal2-popup.swal2-modal.swal2-show{
//   background-color: #61544a;
// }
// .swal2-confirm.swal2-styled{
//   color: #000 !important;
//   background-color: #e6a33c !important;
//   transition: .7s;
//   &:hover{
//     color: rgb(255, 255, 255) !important;
//     background-color: #3b2c25a2 !important;
//   }
// }
.events_detail_container {
.event_time_font{
  color: #757575;
}
  .event_description_border {
    margin-top: 40px;
    padding: 10px;
    background-color: #dee7f7;
    border: 1px solid #e2e8f6;
  }
  padding: 30px;
  max-width: 1080px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f5f5f5;
  .events_detail_font {
    font-weight: 700;
    font-size: 25px;
  }

  img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    *width: 100%; // 支援 IE 6和7
  }

  // 立即報名按鈕
  .events_sign_up_body {
    .heart_email {
      font-size: 20px;
      display: flex;
      margin-top: 15px;
      background-color: #dfdddd;
      justify-content: space-around;

      .email_box {
        height: 20px;
        width: 20px;
      }
      .fa-heart {
        margin: 10px 0 5px 0;
        color: #aaa;
        &:hover {
          cursor: pointer;
          color: #ff5258;
        }
      }
      .fa-envelope {
        margin: 10px 0 5px 0;
        color: #aaa;
        &:hover {
          cursor: pointer;
          color: #752c1c;
        }
      }
      .Demo__container{
        margin: auto 0;
        .Demo__some-network{
          color: #aaa;
          padding-left: 10px;
          &:hover{
            color: #0c55f1;
          }
        }
      }
    }

    .btn-outline-warning {
      height: 60px;
      font-weight: 700;
      background-color: #752c1c;
      &:hover {
        background-color: #e6a33c;
        border-color: #e6a33c;
      }
    }
    .btn {
      font-weight: 700;
    }

    top: 120px;
    z-index: 0;
    .events_sign_up_btn {
      // top:120px;

      // &:hover {
      //   box-shadow: 5px 5px 10px #752c1c;
      //   // transform: translate(0,-5px);
      // }
    }
    .events_card_height {
      height: auto;
    }
    .events_total {
      text-align: center;
    }
  }

  .events_section_title {
    border-bottom: 2px solid #bebaba;
    margin-bottom: 1rem;
  }
}

.events_Swiper_Container {
  max-width: 1080px;
  background-color: #f5f5f5;
  .events_Swiper_title {
    p {
      text-align: center;
      font-size: 30px;
      // justify-content: center;
    }
  }
}

// .bgc{
//   background-color: rgba(235, 84, 84, 0.933);
// }

@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
  .events_detail_container .events_sign_up_body .heart_email {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .events_Swiper_Container {
    display: none;
  }
}
