
  :root {
    --color1: #3b2c25;
    --color2: #61544a;
    --color3: #2d333c;
    --color4: #e6a33c;
    --color5: #30120b;
    --text-color: #646464;
    --text-price: #752c1c;
    --main-orange: #e6a33c;
    --main-white: #ffffff;
    --cate-font: "Trajan";
    --main-black: #000000;
    --main-blackRgba: #000000c0;
    --em: 16;
    --color7: rgb(255, 255, 255);
  }
  

  .Latest_events_collect_bgc{
    background-color: #F5F5F5;
    padding-bottom: 40px;
  }

  .events_Pagination{
    ul{

      justify-content: center;
      text-align: center;
      // width: auto;
    }
  }

  @media only screen and (max-width: 1199px) {
    
  }
  @media only screen and (max-width: 991px) {
    .Latest_events_rowjcc{
      justify-content: center;
    }
  }
  @media only screen and (max-width: 767px) {
    
  }
  @media only screen and (max-width: 576px) {
    
  }
  