
  /* 變數設定 */
  :root {
    --color1: #3b2c25;
    --color2: #61544a;
    --color3: #2d333c;
    --color4: #e6a33c;
    --color5: #30120b;
    --text-color: #646464;
    --text-price: #752c1c;
    --main-orange: #e6a33c;
    --main-white: #ffffff;
    --cate-font: "Trajan";
    --main-black: #000000;
    --main-blackRgba: #000000c0;
    --em: 16;
    --color7: rgb(255, 255, 255);
  }
  
/***********************    Pagination 按鈕樣式      *************************************************/
 .events_Pagination{
 
  display: flex;
  justify-content: center;
  .rc-pagination-prev{
    background-color: var(--main-black);
  }
  .rc-pagination-next{
    background-color: var(--main-black);
  }
  .rc-pagination-item{
      background-color: var(--main-black);
      color: #e6a33c;
      // transition: .2s;
      &:hover {
        // transition: .5s;
        background-color: #e6a33c;
        // border-color: #e6a33c;
        color: #000;

      }
  }
   .rc-pagination-item-active{
    background-color: #752c1c;
  }

 }



  @media only screen and (max-width: 1199px) {
    
  }
  @media only screen and (max-width: 991px) {
  
  }
  @media only screen and (max-width: 767px) {
    
  }
  @media only screen and (max-width: 576px) {
    
  }
  